dist/
peer-db/
function-db/
protocol-state-machine-module
go-libp2p-raft
runtime
worker-pdb
worker-fdb
workspace
runtime.tar.gz
cmd/node/node
cmd/keys/keys
data
keys
data-head
data-worker
main.py
.DS_Store